<div class="container">
	<div class="row norme-25">
		<div class="col-xs-12">
			<h1>Problematique</h1>
		</div>
	</div>
	<div *ngIf="problematic">
	<p>Cours n°{{problematic.idLesson}}</p>
	


	<div class="col-xs-6">
		<iframe class="e2e-iframe-trusted-src" width="300" height="300" [src]="newMovieUrl" frameborder="0"></iframe>
	</div>
	<div class="col-xs-6">
		<h5>{{problematic.entitled}}</h5>
		<p>{{problematic.user.name}}</p>
		<p>Posté le {{problematic.created_at}} <br> 
		{{problematic.caption}}</p>
	</div>
	<div class="clearfix"></div>

	<div class="commentary">
		<div *ngFor="let commentary of commentaries" [class.selected]="commentary === selectedCommentary" class="fdblc">
			<div class="avatar col-xs-1">
				<img src="../public/images/homme-1.svg">
			</div>
			<div class="col-xs-11">
				{{commentary.user.name}} : 
				{{commentary.description}}
			</div>
		</div>
	</div>

	<h2>Laisser une réponse</h2>
	<div>
	  <form [formGroup]="addCommentaryForm" (ngSubmit)="addCommentary($event)">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
	    <textarea formControlName="description" cols="30" rows="10">Votre commentaire</textarea>
	    <button type="submit" class="btn btn-success">Ajouter</button>
	  </form>
	</div>


	</div>
</div>