<div class="container">
	<div class="row norme-25">
		<div class="col-xs-12">
			<h1>Présentation</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 bc-blue">
			<h2>QUI SOMMES-NOUS</h2>
			<p>Que le client, savoir votre truc. <br><br>

			Que faire si nous pensons que la relocalisation des bureaux, qui savent que leur propre que vous souhaitez demander à nous des partenaires de réflexion. Good Life, étude approfondie et des interviews, des choses comme si l'étude sur le terrain, «Pourquoi voulez-vous transférer", "Voulez-vous un bureau.» «Qu'est-ce que d'avoir le moindre problème", à "ce que vous voulez ce genre de type de travail" à commencer par la collecte des informations.<br><br>

			Sur immeuble de bureaux de 1 à 10.<br><br>

			Immeuble de bureaux, il doit être décidé, situé dans l'énorme travail à faire. <br>
			enaires de réflexion. Good Life, étude approfondie et des interviews, des chenaires de réflexion. Good Life, étude approfondie et des interviews.</p>
		</div>
		<div class="col-xs-12 col-sm-6 bc-white top-60"> 
			<p>Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon<br><br>

			n viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissmyöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.<br><br>

		n viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit joissmyöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.</p> 
		</div>
		<div class="col-sm-offset-3 col-sm-3 col-xs-12">
			<img src="../public/images/presentation-1.png">
		</div>
		<div class="col-sm-6 col-xs-12 bc-blue">
			<h2>NOTRE REGARD</h2>
			<p>Que le client, savoir votre truc.<br><br>

			Que faire si nous pensons que la relocalisation des bureaux, qui savent que leur propre que vous souhaitez demander à nous des partenaires de réflexion. Good Life, étude approfondie et des interviews, des choses comme si l'étude sur le terrain, «Pourquoi voulez-vous transférer", "Voulez-vous un bureau.» «Qu'est-ce que d'avoir le moindre problème", à "ce que vous voulez ce genre de type de travail" à commencer par la collecte des informations.<br><br>

			Sur immeuble de bureaux de 1 à 10.<br><br>

			Immeuble de bureaux, il doit être décidé, situé dans l'énorme travail à faire. <br>
			enaires de réflexion. Good Life, étude approfondie et des interviews, des chenaires de réflexion. Good Life, étude approfondie et des interviews.
		</div>
	</div>
	<div class="row norme-25">
		<div class="col-xs-12">
			<h1>PROFESSEURS</h1>
		</div>
	</div>
	<div class="row norme-40">
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/femme-1.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-1.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-2.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-3.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
	</div>
</div>
