<h2>Les cours</h2>

<!-- Modal "ajout de cours" -->
<div>
  <form [formGroup]="addLessonForm" (ngSubmit)="addLesson($event)">
    <input formControlName="subject" type="text" placeholder="intitulé du cours">
    <input formControlName="content" type="text" placeholder="Contenu du cours">
    <input formControlName="idCategory" type="text" placeholder="ID Catégorie">
    <input formControlName="startDate" type="date" placeholder="Date de début">
    <input formControlName="endDate" type="date" placeholder="Date de fin">
    <input formControlName="idUser" type="hidden" placeholder="IDuser" value="1">
    <input formControlName="created_at" type="hidden" placeholder="IDuser" value="2017-01-24 10:48:40">
    <input formControlName="updated_at" type="hidden" placeholder="IDuser" value="2017-01-24 10:48:40">
    <button type="submit">Ajouter</button>
  </form>
</div>
<!-- Fin Modal -->


<div class="lessons">

  <div *ngFor="let category of categories" [class.selected]="category === selectedCategoy">
    <p (click)="getLesByCat(category.idCategory)">{{category.title}} {{category.idCategory}}</p>
  </div>

  <div *ngFor="let lesson of lessons" [class.selected]="lesson === selectedLesson">

    <img (click)="gotoDetail(lesson)" src="http://fakeimg.pl/300/" />

    <p *ngIf="lesson.user">{{lesson.user.name}}</p>

    <!-- Vote en étoile -->
    <ul>
      <li>x</li>
      <li>x</li>
      <li>x</li>
      <li>x</li>
      <li>x</li>
    </ul>

    <h5>{{lesson.subject}}</h5>

    <button class=""
    (click)="gotoDetail(lesson)">Voir le cours</button>

    <button *ngIf="isTeacher" class="delete"
    (click)="delete(lesson); $event.stopPropagation()">x</button>
    <br /><br />
  </div>

</div>
