<div class="container">
  	<div class="row">
      <div class="col-xs-12 norme-25">
        <h1>CONTACT</h1>
      </div>
	    <div class="col-xs-6">
          <div class="map">
            <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2779.8122278012524!2d4.616711815239183!3d45.835041416643165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f48b65d3298c7f%3A0x3005bba68572bc5a!2s3a+Rue+de+Lyon%2C+69210+L&#39;Arbresle!5e0!3m2!1sfr!2sfr!4v1484520101859" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
	    </div>
	    <div class="col-xs-3 back-white">
	    	<div class="col-sm-12">Co., Ltd. Good Life emplacement	Yubinbango</div>

        <div class="col-sm-12">103-0025 Kayabacho Nihonbashi, Chuo-ku, Tokyo Chome No. 2 No. 2 bâtiment Kayabacho EKK 7F</div>
        	
        <div class="col-sm-12">TEL: 03-5652-1819 </div>

        <div class="col-sm-12">E-MaiL : info@goodlife-inc.co.jp</div>
	    </div>
	    <div class="col-xs-3">
	    	<form id="contact" class="form-horizontal" role="form" method="post" action="traitement_form.php">
				<div class="form-group">
				  <div class="col-sm-12">
				      <input required type="text" class="form-control" id="name" name="name" placeholder="Nom" value="Nom">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
				      <input required type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="Email">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
				      <input required type="text" class="form-control" id="sujet" name="sujet" placeholder="Sujet" value="Sujet">
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
				      <textarea required class="form-control" rows="4" name="message" placeholder="Votre message" value="Message"></textarea>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-12 pull-right">
				      <input required id="submit" name="envoi" type="submit" value="Envoyer" class="pull-right btn btn-secondary">
				  </div>
				</div>
			</form> 
	    </div>
    </div>
</div>
