<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="user">
        <button class="btn btn-pad btn-success pull-right" (click)="goBack()">Retour</button>
        <div class="row">
          <div class="col-xs-4">
            <img src="../public/images/femme-1.svg" />
          </div>
            <!-- <p>Actif : {{user.isActive}}</p> -->
          <div class="col-xs-8">
            <h3><span>{{user.name}}</span></h3>
            <h3>{{user.email}}</h3>
            <label>Date de création: </label>{{user.created_at | date: 'dd/MM/yyyy'}}
            <br />
            <label>Date de dernière modification: </label>{{user.updated_at | date: 'dd/MM/yyyy'}}
            <!-- Vote en étoile -->
            <div class="lead">
              <div id="stars" class="starrr" data-rating="4"></div>
            </div>
          </div>
        </div>


        <div class="row">
          <h1>LES PROBLEMATIQUES</h1>
          <p>{{countLessons}}</p>
          <div *ngIf="problematics">
            <div *ngFor="let problematic of problematics" [class.selected]="problematic === selectedProblematic">
              <div class="col-xs-12 col-sm-4 singleProblematic">
                  <h5>{{problematic.entitled}}</h5>

                  <button class="btn btn-success pull-right"
                  (click)="gotoDetail(problematic)">Voir la problématique</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>