<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="user">
        <button class="btn btn-pad btn-success pull-right" (click)="goBack()">Retour</button>
        <div class="row">
          <div class="col-xs-4">
            <img src="../public/images/femme-1.svg" />
          </div>
            <!-- <p>Actif : {{user.isActive}}</p> -->
          <div class="col-xs-8">
            <h3><span>{{user.name}}</span></h3>
            <h3>{{user.email}}</h3>
            <label>Date de création: </label>{{user.created_at | date: 'dd/MM/yyyy'}}
            <br />
            <label>Date de dernière modification: </label>{{user.updated_at | date: 'dd/MM/yyyy'}}
            <!-- Vote en étoile -->
            <div class="lead">
              <div id="stars" class="starrr" data-rating="4"></div>
            </div>
          </div>
        </div>

        <div *ngIf="user.isTeacher == 0" class="row">
          <h1>LES PROBLEMATIQUES</h1>
          <p>{{countLessons}}</p>
          <div *ngIf="problematics">
            <div *ngFor="let problematic of problematics" [class.selected]="problematic === selectedProblematic">
              <div class="col-xs-12 col-sm-4 singleProblematic">
                  <h5>{{problematic.entitled}}</h5>

                  <button class="btn btn-success pull-right"
                  (click)="gotoDetail(problematic)">Voir la problématique</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="user.isTeacher == 1" class="row">
          <h1>LES FORMATIONS</h1>
          <div *ngIf="lessons">
            <div *ngFor="let lesson of lessons" [class.selected]="lesson === selectedLesson">
              <div *ngIf="lesson.idUser == user.idUser" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="col-xs-12 col-sm-3 mobs-1" data-wow-duration="1s" data-wow-delay=".5s">
                  <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- PHONE -->
                    <a (click)="gotoDetailLesson(lesson)">
                      <img class="img-responsive border-blue full max" [src]="lesson.image" alt="">
                    </a>
                  </div>
                  <div class="back-white2 shadows">
                    <!-- TITLE -->
                    <div class="">
                      <h2>{{lesson.subject}}</h2>
                      <br>
                      <div class="col-xs-8">
                        <div class="lead">
                          <div id="stars" class="starrr" attr.data-rating="{{lesson.noteLesson}}"></div>
                        </div>
                      </div>
                    </div>

                    <button *ngIf="isTeacher" class="delete fl-topri pull-right btn btn-danger"
                    (click)="delete(lesson); $event.stopPropagation()">x</button>

                    <button (click)="gotoDetail(lesson)" class="pull-right fl-ri btn btn-success">Voir le cours</button>

                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>