<router-outlet>
<div class="container">
	<div class="row norme-25">
		<div class="col-xs-3">
			<img class="logo" src="../public/images/logo.svg" />
		</div>
		<div class="col-xs-9 padding-top-20 text-right">
			<nav>
				<a routerLink="/" routerLinkActive="active">Accueil</a>
				<a routerLink="/presentation">Présentation</a>
				<a routerLink="/lessons">Formations</a>
				<a routerLink="/contact">Contact</a>
				<a routerLink="/users" *ngIf="isTeacher == 1">Utilisateurs</a>
				<a routerLink="/user/{{actualUserId}}" *ngIf="isTeacher == 0">Mon Profil</a>
			</nav>
		</div>
	</div>
 </div>
</router-outlet>
