<div class="container">

  <!-- Modal "ajout utilisateur" -->
  <button type="button" class="btn btn-success pull-right btn-lg" data-toggle="modal" data-target="#myModal">
    Ajouter un utilisateur
  </button>
  
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form [formGroup]="addUserForm" (ngSubmit)="addUser($event)">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">AJOUTER UN UTLISATEUR</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 margin-20">
                Nom de l'utilisateur :<input class="form-control" formControlName="name" type="text" placeholder="Nom">
              </div>
              <div class="col-xs-12 margin-20">
                Email : <input class="form-control" formControlName="email" type="text" placeholder="Email">
              </div>
              <div class="col-xs-12 margin-20">
                <input type="checkbox" id="isTeacher" value="isTeacher" formControlName="isTeacher"> <label for="isTeacher">L'utilisateur est un professeur</label>
              </div>
              <div class="col-xs-12 margin-20">
                <input type="checkbox" id="isActive" value="isActive" formControlName="isActive"> <label for="isActive">L'utilisateur est actif</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit " class="btn pull-right btn btn-success">Ajouter</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Fin Modal -->

  <div class="row">
    <div class="col-md-12">
      <h1>Utilisateurs</h1>

      <div *ngFor="let user of users" [class.selected]="user === selectedUser">
        <div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          <!-- PHONE -->
            <a (click)="gotoDetail(user)">
              <img class="img-responsive border-blue full" src="../public/images/femme-1.svg" alt="">
            </a>
          </div>
          
          <div class="back-white2 shadows">
          <!-- TITLE -->
            <div class="">
              <h2>{{user.name}}</h2>
              <div class="lead">
                <div id="stars" class="starrr" [attr.data-rating]=user.rateUser></div>
              </div>
            </div>

            <button *ngIf="isTeacher" class="delete pull-right btn btn-danger" (click)="delete(user); $event.stopPropagation()">x</button>

            <button (click)="gotoDetail(user)" class="pull-right btn btn-success">Détails de l'utilisateur</button>
          </div>
        </div>
      </div>
    </div>
  </div>
