<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Utilisateurs</h1>

      <!-- Modal "ajout de cours" -->
      <div>
        <form [formGroup]="addUserForm" (ngSubmit)="addUser($event)">
          <input formControlName="name" type="text" placeholder="Nom">
          <input formControlName="email" type="text" placeholder="Email">
          <input formControlName="isTeacher" type="text" placeholder="Professeur ou élève 0/1">
          <input formControlName="isActive" type="text" placeholder="Actif 0/1">
          <button type="submit">Ajouter</button>
        </form>
      </div>
      <!-- Fin Modal -->

      <div *ngFor="let user of users" [class.selected]="user === selectedUser">
        <div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
          <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          <!-- PHONE -->
            <a (click)="gotoDetail(user)">
              <img class="img-responsive border-blue full" src="../public/images/femme-1.svg" alt="">
            </a>
          </div>
          
          <div class="back-white2 shadows">
          <!-- TITLE -->
            <div class="">
              <h2>{{user.name}}</h2>
              <div class="lead">
                <div id="stars" class="starrr" data-rating="4"></div>
              </div>
            </div>

            <button *ngIf="isTeacher" class="delete pull-right btn btn-danger" (click)="delete(user); $event.stopPropagation()">x</button>

            <button (click)="gotoDetail(user)" class="pull-right btn btn-success">Détails de l'utilisateur</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>