<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>LEARN & SHARE</h1>
		</div>	
		<div class="col-xs-6">
			<img src="../public/images/home.png">
		</div>
		<div class="col-xs-6 bc-white2 norme-40">
			<p>Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon

n viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissmyöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.</p>
		</div>		
	</div>
    <div class="row">
		<div class="col-md-12">
			<h1>FORMATIONS</h1>

			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">
							Angular </a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">
							PHP </a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">
							Jquery </a>
						</li>
						<li>
							<a href="#tab_default_4" data-toggle="tab">
							Symfony </a>
						</li>
						<li>
							<a href="#tab_default_5" data-toggle="tab">
							Laravel </a>
						</li>
						<li>
							<a href="#tab_default_6" data-toggle="tab">
							MVC </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<div class="row">
								<div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
									<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
										<!-- PHONE -->
										<a href="news_press_la">
											<img class="img-responsive border-blue full" src="../public/images/cat-1.png" alt="">
										</a>
									</div>
									<div class="back-white2 shadows">
										<!-- TITLE -->
										<div class="">
											<h2>Crédit Agricole Payment Services is experimenting Pop & Work</h2>
				                            <br>
											<p>01.12.16 • INVESTOR & PARTNER</p>
										</div>
										<p>Crédit Agricole Payment Services (CAPS) employees are testing the Pop & Work technology, developed by MyBlueShip and the CAPS Payment Lab.</p>
											<a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">Voir le cours</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
									<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
										<!-- PHONE -->
										<a href="news_press_la">
											<img class="img-responsive border-blue full" src="../public/images/cat-3.png" alt="">
										</a>
									</div>
									<div class="back-white2 shadows">
										<!-- TITLE -->
										<div class="">
											<h2>Crédit Agricole Payment Services is experimenting Pop & Work</h2>
				                            <br>
											<p>01.12.16 • INVESTOR & PARTNER</p>
										</div>
										<p>Crédit Agricole Payment Services (CAPS) employees are testing the Pop & Work technology, developed by MyBlueShip and the CAPS Payment Lab.</p>
											<a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">Voir le cours</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
									<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
										<!-- PHONE -->
										<a href="news_press_la">
											<img class="img-responsive border-blue full" src="../public/images/cat-2.png" alt="">
										</a>
									</div>
									<div class="back-white2 shadows">
										<!-- TITLE -->
										<div class="">
											<h2>Crédit Agricole Payment Services is experimenting Pop & Work</h2>
				                            <br>
											<p>01.12.16 • INVESTOR & PARTNER</p>
										</div>
										<p>Crédit Agricole Payment Services (CAPS) employees are testing the Pop & Work technology, developed by MyBlueShip and the CAPS Payment Lab.</p>
											<a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">Voir le cours</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
									<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
										<!-- PHONE -->
										<a href="news_press_la">
											<img class="img-responsive border-blue full" src="../public/images/cat-4.png" alt="">
										</a>
									</div>
									<div class="back-white2 shadows">
										<!-- TITLE -->
										<div class="">
											<h2>Crédit Agricole Payment Services is experimenting Pop & Work</h2>
				                            <br>
											<p>01.12.16 • INVESTOR & PARTNER</p>
										</div>
										<p>Crédit Agricole Payment Services (CAPS) employees are testing the Pop & Work technology, developed by MyBlueShip and the CAPS Payment Lab.</p>
											<a class="btn btn-success" href="http://j.mp/metronictheme" target="_blank">Voir le cours</a>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab_default_2">
							<p>
								Howdy, I'm in Tab 2.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
							</p>
							<p>
								<a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
									Click for more features...
								</a>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_3">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Voir le cours
								</a>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_4">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Voir le cours
								</a>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_5">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Voir le cours
								</a>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_6">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Voir le cours
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row norme-25">
		<div class="col-xs-12">
			<h1>Présentation</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 bc-blue">
			<h2>QUI SOMMES-NOUS</h2>
			<p>Que le client, savoir votre truc. <br><br>

			Que faire si nous pensons que la relocalisation des bureaux, qui savent que leur propre que vous souhaitez demander à nous des partenaires de réflexion. Good Life, étude approfondie et des interviews, des choses comme si l'étude sur le terrain, «Pourquoi voulez-vous transférer", "Voulez-vous un bureau.» «Qu'est-ce que d'avoir le moindre problème", à "ce que vous voulez ce genre de type de travail" à commencer par la collecte des informations.<br><br>

			Sur immeuble de bureaux de 1 à 10.<br><br>

			Immeuble de bureaux, il doit être décidé, situé dans l'énorme travail à faire. <br>
			enaires de réflexion. Good Life, étude approfondie et des interviews, des chenaires de réflexion. Good Life, étude approfondie et des interviews.</p>
		</div>
		<div class="col-xs-12 col-sm-6 bc-white top-60"> 
			<p>Lorem Ipsum on yksinkertaisesti testausteksti, jota tulostus- ja ladontateollisuudet käyttävät. Lorem Ipsum on ollut teollisuuden normaali testausteksti jo 1500-luvulta asti, jolloin tuntematon<br><br>

			n viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, joissmyöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.<br><br>

		n viittä vuosisataa, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit, mutta myös loikan elektroniseen kirjoitukseen, jääden suurinpiirtein muuntamattomana. Se tuli kuuluisuuteen 1960-luvulla kun Letraset-paperiarkit joissmyöhemmin tietokoneen julkistusohjelmissa, kuten Aldus PageMaker joissa oli versioita Lorem Ipsumista.</p> 
		</div>
		<div class="col-sm-offset-3 col-sm-3 col-xs-12">
			<img src="../public/images/presentation-1.png">
		</div>
		<div class="col-sm-6 col-xs-12 bc-blue">
			<h2>NOTRE REGARD</h2>
			<p>Que le client, savoir votre truc.<br><br>

			Que faire si nous pensons que la relocalisation des bureaux, qui savent que leur propre que vous souhaitez demander à nous des partenaires de réflexion. Good Life, étude approfondie et des interviews, des choses comme si l'étude sur le terrain, «Pourquoi voulez-vous transférer", "Voulez-vous un bureau.» «Qu'est-ce que d'avoir le moindre problème", à "ce que vous voulez ce genre de type de travail" à commencer par la collecte des informations.<br><br>

			Sur immeuble de bureaux de 1 à 10.<br><br>

			Immeuble de bureaux, il doit être décidé, situé dans l'énorme travail à faire. <br>
			enaires de réflexion. Good Life, étude approfondie et des interviews, des chenaires de réflexion. Good Life, étude approfondie et des interviews.
		</div>
	</div>
	<div class="row norme-25">
		<div class="col-xs-12">
			<h1>PROFESSEURS</h1>
		</div>
	</div>
	<div class="row norme-40">
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/femme-1.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-1.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-2.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12">
			<img src="../public/images/homme-3.svg">
			<div class="text-center">
				<h4>Camille <span class="text-uppercase">BERANT</span></h4>
				<p>GESTION DE PROJET</p>
			</div>
		</div>
	</div>
</div>
