<div class="container block-news">
	<div id="tabs" class="tabs">
		<nav>
			<ul>
				<li><a href="#section-1"><span>ALL NEWS</span></a></li>
				<li><a href="#section-2"><span>EVENT</span></a></li>
				<li><a href="#section-3"><span>PRESS</span></a></li>
				<li><a href="#section-4"><span>SOLUTION</span></a></li>
				<li><a href="#section-5"><span>INVESTOR & PARTNER</span></a></li>
			</ul>
		</nav>
		<div class="content">
			<section id="section-1">
				<div class="row">
					<div class="col-xs-12 col-sm-6 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- PHONE -->
                            <a href="news_hello">
                                <img class="img-responsive border-blue full" src="images/hello-world.jpg" alt="">
                            </a>
                        </div>
                        <div class="back-white2 shadows">
                            <!-- TITLE -->
                            <div class="">
                                <h2>Hello world</h2>
                                <br>
                                <p>18.05.2015 • EVENT</p>
                            </div>
                            <p>Welcome to the blog of pop & link! Here you can discover our events, the highlights of
                                our technology, use cases.
                            </p>
                            <div class="text-center"><a class="btn-blue" href="news_hello">Read more ></a></div>
                        </div>
					</div>
					<div class="col-xs-12 col-sm-6 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- PHONE -->
                            <a href="news_blueship">
                                <img class="img-responsive border-blue full" src="images/news_blueship.jpg" alt="">
                            </a>
                        </div>
                        <div class="back-white2 shadows">
                            <!-- TITLE -->
                            <div class="">
                                <h2>MyBlueShip raised funding with EXTENDAM
                                </h2>
                                <p>01.07.2016 • EVENT</p>
                            </div>
                            <p>MyBlueShip handled its first fund raising with Extendam group, BPI, RE / Inovizi.
                            </p>
                            <div class="text-center"><a class="btn-blue" href="news_blueship">Read more ></a></div>
                        </div>
					</div>
				</div>
			</section>
			<section id="section-2">
			
			</section>
			<section id="section-3">
				
			</section>
			<section id="section-4">


			</section>
			<section id="section-5">
				<div class="col-xs-12 col-sm-6 mobs-2" data-wow-duration="1s" data-wow-delay=".5s">
					<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
						<!-- PHONE -->
						<a href="news_press_la">
							<img class="img-responsive border-blue full" src="images/press_epargne.jpg" alt="">
						</a>
					</div>
					<div class="back-white2 shadows">
						<!-- TITLE -->
						<div class="">
							<h2>Crédit Agricole Payment Services is experimenting Pop & Work</h2>
                            <br>
							<p>01.12.16 • INVESTOR & PARTNER</p>
						</div>
						<p>Crédit Agricole Payment Services (CAPS) employees are testing the Pop & Work technology, developed by MyBlueShip and the CAPS Payment Lab.</p>
						<div class="text-center"><a class="btn-blue" href="news_press_agricole">Read more ></a></div>
					</div>
				</div>
			</section>
		</div><!-- /content -->
	</div><!-- /tabs -->
</div>

