<div *ngIf="lesson">
  <h2>{{lesson.subject}} vue d'un cours!</h2>
  <div>
    <label>Date de création: </label>{{lesson.created_at}}
    <label>Date de modification: </label>{{lesson.updated_at}}
    <label>id: </label>{{lesson.idLesson}}
    <label>Créateur du cours: </label>{{lesson.idUser}}
    <label>Catégorie: </label>{{lesson.idCategory}}
    <div>
      <label>title: </label>
      <input [(ngModel)]="lesson.subject" placeholder="Titre du cours" />
      <label>Contenu: </label>
      <textarea [(ngModel)]="lesson.content"></textarea>
    </div>
    <button (click)="goBack()">Retour</button>
    <button (click)="save()">Sauvegarder</button>
  </div>
</div>
